.cluster0 { background-color:hsl(0,100%,80%); }
.cluster1 { background-color:hsl(49,100%,80%); }
.cluster2 { background-color:hsl(98,100%,80%); }
.cluster3 { background-color:hsl(147,100%,80%); }
.cluster4 { background-color:hsl(196,100%,80%); }
.cluster5 { background-color:hsl(245,100%,80%); }
.cluster6 { background-color:hsl(294,100%,80%); }
.cluster7 { background-color:hsl(343,100%,80%); }
.cluster8 { background-color:hsl(32,100%,80%); }
.cluster9 { background-color:hsl(81,100%,80%); }
.cluster10 { background-color:hsl(130,100%,80%); }
.cluster11 { background-color:hsl(179,100%,80%); }
.cluster12 { background-color:hsl(228,100%,80%); }
.cluster13 { background-color:hsl(277,100%,80%); }
.cluster14 { background-color:hsl(326,100%,80%); }
.cluster15 { background-color:hsl(15,100%,80%); }
.cluster16 { background-color:hsl(64,100%,80%); }
.cluster17 { background-color:hsl(113,100%,80%); }
.cluster18 { background-color:hsl(162,100%,80%); }
.cluster19 { background-color:hsl(211,100%,80%); }
.cluster20 { background-color:hsl(260,100%,80%); }
.cluster21 { background-color:hsl(309,100%,80%); }
.cluster22 { background-color:hsl(358,100%,80%); }
.cluster23 { background-color:hsl(47,100%,80%); }
.cluster24 { background-color:hsl(96,100%,80%); }
.cluster25 { background-color:hsl(145,100%,80%); }
.cluster26 { background-color:hsl(194,100%,80%); }
.cluster27 { background-color:hsl(243,100%,80%); }
.cluster28 { background-color:hsl(292,100%,80%); }
.cluster29 { background-color:hsl(341,100%,80%); }
.cluster30 { background-color:hsl(30,100%,80%); }
.cluster31 { background-color:hsl(79,100%,80%); }
.cluster32 { background-color:hsl(128,100%,80%); }
.cluster33 { background-color:hsl(177,100%,80%); }
.cluster34 { background-color:hsl(226,100%,80%); }
.cluster35 { background-color:hsl(275,100%,80%); }
.cluster36 { background-color:hsl(324,100%,80%); }
.cluster37 { background-color:hsl(13,100%,80%); }
.cluster38 { background-color:hsl(62,100%,80%); }
.cluster39 { background-color:hsl(111,100%,80%); }
.cluster40 { background-color:hsl(160,100%,80%); }
.cluster41 { background-color:hsl(209,100%,80%); }
.cluster42 { background-color:hsl(258,100%,80%); }
.cluster43 { background-color:hsl(307,100%,80%); }
.cluster44 { background-color:hsl(356,100%,80%); }
.cluster45 { background-color:hsl(45,100%,80%); }
.cluster46 { background-color:hsl(94,100%,80%); }
.cluster47 { background-color:hsl(143,100%,80%); }
.cluster48 { background-color:hsl(192,100%,80%); }
.cluster49 { background-color:hsl(241,100%,80%); }
.cluster50 { background-color:hsl(290,100%,80%); }
.cluster51 { background-color:hsl(339,100%,80%); }
.cluster52 { background-color:hsl(28,100%,80%); }
.cluster53 { background-color:hsl(77,100%,80%); }
.cluster54 { background-color:hsl(126,100%,80%); }
.cluster55 { background-color:hsl(175,100%,80%); }
.cluster56 { background-color:hsl(224,100%,80%); }
.cluster57 { background-color:hsl(273,100%,80%); }
.cluster58 { background-color:hsl(322,100%,80%); }
.cluster59 { background-color:hsl(11,100%,80%); }
.cluster60 { background-color:hsl(60,100%,80%); }
.cluster61 { background-color:hsl(109,100%,80%); }
.cluster62 { background-color:hsl(158,100%,80%); }
.cluster63 { background-color:hsl(207,100%,80%); }
.cluster64 { background-color:hsl(256,100%,80%); }
.cluster65 { background-color:hsl(305,100%,80%); }
.cluster66 { background-color:hsl(354,100%,80%); }
.cluster67 { background-color:hsl(43,100%,80%); }
.cluster68 { background-color:hsl(92,100%,80%); }
.cluster69 { background-color:hsl(141,100%,80%); }
.cluster70 { background-color:hsl(190,100%,80%); }
.cluster71 { background-color:hsl(239,100%,80%); }
.cluster72 { background-color:hsl(288,100%,80%); }
.cluster73 { background-color:hsl(337,100%,80%); }
.cluster74 { background-color:hsl(26,100%,80%); }
.cluster75 { background-color:hsl(75,100%,80%); }
.cluster76 { background-color:hsl(124,100%,80%); }
.cluster77 { background-color:hsl(173,100%,80%); }
.cluster78 { background-color:hsl(222,100%,80%); }
.cluster79 { background-color:hsl(271,100%,80%); }
.cluster80 { background-color:hsl(320,100%,80%); }
.cluster81 { background-color:hsl(9,100%,80%); }
.cluster82 { background-color:hsl(58,100%,80%); }
.cluster83 { background-color:hsl(107,100%,80%); }
.cluster84 { background-color:hsl(156,100%,80%); }
.cluster85 { background-color:hsl(205,100%,80%); }
.cluster86 { background-color:hsl(254,100%,80%); }
.cluster87 { background-color:hsl(303,100%,80%); }
.cluster88 { background-color:hsl(352,100%,80%); }
.cluster89 { background-color:hsl(41,100%,80%); }
.cluster90 { background-color:hsl(90,100%,80%); }
.cluster91 { background-color:hsl(139,100%,80%); }
.cluster92 { background-color:hsl(188,100%,80%); }
.cluster93 { background-color:hsl(237,100%,80%); }
.cluster94 { background-color:hsl(286,100%,80%); }
.cluster95 { background-color:hsl(335,100%,80%); }
.cluster96 { background-color:hsl(24,100%,80%); }
.cluster97 { background-color:hsl(73,100%,80%); }
.cluster98 { background-color:hsl(122,100%,80%); }
.cluster99 { background-color:hsl(171,100%,80%); }
.cluster100 { background-color:hsl(220,100%,80%); }
.cluster101 { background-color:hsl(269,100%,80%); }
.cluster102 { background-color:hsl(318,100%,80%); }
.cluster103 { background-color:hsl(7,100%,80%); }
.cluster104 { background-color:hsl(56,100%,80%); }
.cluster105 { background-color:hsl(105,100%,80%); }
.cluster106 { background-color:hsl(154,100%,80%); }
.cluster107 { background-color:hsl(203,100%,80%); }
.cluster108 { background-color:hsl(252,100%,80%); }
.cluster109 { background-color:hsl(301,100%,80%); }
.cluster110 { background-color:hsl(350,100%,80%); }
.cluster111 { background-color:hsl(39,100%,80%); }
.cluster112 { background-color:hsl(88,100%,80%); }
.cluster113 { background-color:hsl(137,100%,80%); }
.cluster114 { background-color:hsl(186,100%,80%); }
.cluster115 { background-color:hsl(235,100%,80%); }
.cluster116 { background-color:hsl(284,100%,80%); }
.cluster117 { background-color:hsl(333,100%,80%); }
.cluster118 { background-color:hsl(22,100%,80%); }
.cluster119 { background-color:hsl(71,100%,80%); }
.cluster120 { background-color:hsl(120,100%,80%); }
.cluster121 { background-color:hsl(169,100%,80%); }
.cluster122 { background-color:hsl(218,100%,80%); }
.cluster123 { background-color:hsl(267,100%,80%); }
.cluster124 { background-color:hsl(316,100%,80%); }
.cluster125 { background-color:hsl(5,100%,80%); }
.cluster126 { background-color:hsl(54,100%,80%); }
.cluster127 { background-color:hsl(103,100%,80%); }
.cluster128 { background-color:hsl(152,100%,80%); }
.cluster129 { background-color:hsl(201,100%,80%); }
.cluster130 { background-color:hsl(250,100%,80%); }
.cluster131 { background-color:hsl(299,100%,80%); }
.cluster132 { background-color:hsl(348,100%,80%); }
.cluster133 { background-color:hsl(37,100%,80%); }
.cluster134 { background-color:hsl(86,100%,80%); }
.cluster135 { background-color:hsl(135,100%,80%); }
.cluster136 { background-color:hsl(184,100%,80%); }
.cluster137 { background-color:hsl(233,100%,80%); }
.cluster138 { background-color:hsl(282,100%,80%); }
.cluster139 { background-color:hsl(331,100%,80%); }
.cluster140 { background-color:hsl(20,100%,80%); }
.cluster141 { background-color:hsl(69,100%,80%); }
.cluster142 { background-color:hsl(118,100%,80%); }
.cluster143 { background-color:hsl(167,100%,80%); }
.cluster144 { background-color:hsl(216,100%,80%); }
.cluster145 { background-color:hsl(265,100%,80%); }
.cluster146 { background-color:hsl(314,100%,80%); }
.cluster147 { background-color:hsl(3,100%,80%); }
.cluster148 { background-color:hsl(52,100%,80%); }
.cluster149 { background-color:hsl(101,100%,80%); }
.cluster150 { background-color:hsl(150,100%,80%); }
.cluster151 { background-color:hsl(199,100%,80%); }
.cluster152 { background-color:hsl(248,100%,80%); }
.cluster153 { background-color:hsl(297,100%,80%); }
.cluster154 { background-color:hsl(346,100%,80%); }
.cluster155 { background-color:hsl(35,100%,80%); }
.cluster156 { background-color:hsl(84,100%,80%); }
.cluster157 { background-color:hsl(133,100%,80%); }
.cluster158 { background-color:hsl(182,100%,80%); }
.cluster159 { background-color:hsl(231,100%,80%); }
.cluster160 { background-color:hsl(280,100%,80%); }
.cluster161 { background-color:hsl(329,100%,80%); }
.cluster162 { background-color:hsl(18,100%,80%); }
.cluster163 { background-color:hsl(67,100%,80%); }
.cluster164 { background-color:hsl(116,100%,80%); }
.cluster165 { background-color:hsl(165,100%,80%); }
.cluster166 { background-color:hsl(214,100%,80%); }
.cluster167 { background-color:hsl(263,100%,80%); }
.cluster168 { background-color:hsl(312,100%,80%); }
.cluster169 { background-color:hsl(1,100%,80%); }
.cluster170 { background-color:hsl(50,100%,80%); }
.cluster171 { background-color:hsl(99,100%,80%); }
.cluster172 { background-color:hsl(148,100%,80%); }
.cluster173 { background-color:hsl(197,100%,80%); }
.cluster174 { background-color:hsl(246,100%,80%); }
.cluster175 { background-color:hsl(295,100%,80%); }
.cluster176 { background-color:hsl(344,100%,80%); }
.cluster177 { background-color:hsl(33,100%,80%); }
.cluster178 { background-color:hsl(82,100%,80%); }
.cluster179 { background-color:hsl(131,100%,80%); }
.cluster180 { background-color:hsl(180,100%,80%); }
.cluster181 { background-color:hsl(229,100%,80%); }
.cluster182 { background-color:hsl(278,100%,80%); }
.cluster183 { background-color:hsl(327,100%,80%); }
.cluster184 { background-color:hsl(16,100%,80%); }
.cluster185 { background-color:hsl(65,100%,80%); }
.cluster186 { background-color:hsl(114,100%,80%); }
.cluster187 { background-color:hsl(163,100%,80%); }
.cluster188 { background-color:hsl(212,100%,80%); }
.cluster189 { background-color:hsl(261,100%,80%); }
.cluster190 { background-color:hsl(310,100%,80%); }
.cluster191 { background-color:hsl(359,100%,80%); }
.cluster192 { background-color:hsl(48,100%,80%); }
.cluster193 { background-color:hsl(97,100%,80%); }
.cluster194 { background-color:hsl(146,100%,80%); }
.cluster195 { background-color:hsl(195,100%,80%); }
.cluster196 { background-color:hsl(244,100%,80%); }
.cluster197 { background-color:hsl(293,100%,80%); }
.cluster198 { background-color:hsl(342,100%,80%); }
.cluster199 { background-color:hsl(31,100%,80%); }
.cluster200 { background-color:hsl(80,100%,80%); }
.cluster201 { background-color:hsl(129,100%,80%); }
.cluster202 { background-color:hsl(178,100%,80%); }
.cluster203 { background-color:hsl(227,100%,80%); }
.cluster204 { background-color:hsl(276,100%,80%); }
.cluster205 { background-color:hsl(325,100%,80%); }
.cluster206 { background-color:hsl(14,100%,80%); }
.cluster207 { background-color:hsl(63,100%,80%); }
.cluster208 { background-color:hsl(112,100%,80%); }
.cluster209 { background-color:hsl(161,100%,80%); }
.cluster210 { background-color:hsl(210,100%,80%); }
.cluster211 { background-color:hsl(259,100%,80%); }
.cluster212 { background-color:hsl(308,100%,80%); }
.cluster213 { background-color:hsl(357,100%,80%); }
.cluster214 { background-color:hsl(46,100%,80%); }
.cluster215 { background-color:hsl(95,100%,80%); }
.cluster216 { background-color:hsl(144,100%,80%); }
.cluster217 { background-color:hsl(193,100%,80%); }
.cluster218 { background-color:hsl(242,100%,80%); }
.cluster219 { background-color:hsl(291,100%,80%); }
.cluster220 { background-color:hsl(340,100%,80%); }
.cluster221 { background-color:hsl(29,100%,80%); }
.cluster222 { background-color:hsl(78,100%,80%); }
.cluster223 { background-color:hsl(127,100%,80%); }
.cluster224 { background-color:hsl(176,100%,80%); }
.cluster225 { background-color:hsl(225,100%,80%); }
.cluster226 { background-color:hsl(274,100%,80%); }
.cluster227 { background-color:hsl(323,100%,80%); }
.cluster228 { background-color:hsl(12,100%,80%); }
.cluster229 { background-color:hsl(61,100%,80%); }
.cluster230 { background-color:hsl(110,100%,80%); }
.cluster231 { background-color:hsl(159,100%,80%); }
.cluster232 { background-color:hsl(208,100%,80%); }
.cluster233 { background-color:hsl(257,100%,80%); }
.cluster234 { background-color:hsl(306,100%,80%); }
.cluster235 { background-color:hsl(355,100%,80%); }
.cluster236 { background-color:hsl(44,100%,80%); }
.cluster237 { background-color:hsl(93,100%,80%); }
.cluster238 { background-color:hsl(142,100%,80%); }
.cluster239 { background-color:hsl(191,100%,80%); }
.cluster240 { background-color:hsl(240,100%,80%); }
.cluster241 { background-color:hsl(289,100%,80%); }
.cluster242 { background-color:hsl(338,100%,80%); }
.cluster243 { background-color:hsl(27,100%,80%); }
.cluster244 { background-color:hsl(76,100%,80%); }
.cluster245 { background-color:hsl(125,100%,80%); }
.cluster246 { background-color:hsl(174,100%,80%); }
.cluster247 { background-color:hsl(223,100%,80%); }
.cluster248 { background-color:hsl(272,100%,80%); }
.cluster249 { background-color:hsl(321,100%,80%); }
.cluster250 { background-color:hsl(10,100%,80%); }
.cluster251 { background-color:hsl(59,100%,80%); }
.cluster252 { background-color:hsl(108,100%,80%); }
.cluster253 { background-color:hsl(157,100%,80%); }
.cluster254 { background-color:hsl(206,100%,80%); }
.cluster255 { background-color:hsl(255,100%,80%); }
.cluster256 { background-color:hsl(304,100%,80%); }